.formulario-contrato{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.inputs {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.error-message{
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    
}

.container-politica-privacidad {
    max-width: 1800px;
    margin: 0 auto;
}

.terminos-privacidad {
    margin-bottom: 20px;
    margin-top: 20px;
}

.container-politicas {
    padding: 20px;
}

.container-privacidad {
    padding: 20px;
}