/*Actualizacion del feactures*/
.container-navbar {
    background: #FDFC47;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24FE41, #FDFC47);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #FBFBFB;
    width: 100%;
    height: 400px;
    text-align: center;

    margin: 0 auto;
}

.logo-navbar {
    width: 200px;
    height: auto;
    justify-content: flex-end;

}


.hero {
    position: relative;
    height: 700px;
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* Degradado de fondo */
    display: flex;

    color: #FBFBFB;

    justify-content: space-around;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;


}

.wave svg {
    display: block;
    width: 100%;
    height: 100%;

}

.logo-navbar {
    margin-top: 10px;


}


.submenu {
    display: flex;

    justify-content: space-around;
    position: relative;
    margin-top: 10px;

}

.submenu li {
    list-style: none;

    margin: 0 20px;
    font-size: 1em;
}

.info-container {
    margin-top: 70px;

}

.info-text-left {

    flex: 50%;



}

.info-text-right {
    flex: 50%;
    margin-left: 50px;

}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.hero-text-content-left {
    flex: 50%;
    margin-right: 20px;
}

.hero-text-content-right {
    flex: 50%;
    margin-left: 20px;
}

.hero-text h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.btn-iniciar {
    background-color: #043915;
    color: #FBFBFB;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.btn-iniciar:hover {
    background-color: #ECF4E8;
    color: #1C352D;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

.btn-registrar {
    background-color: #043915;
    color: #FBFBFB;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 2px;

}

.btn-registrar:hover {
    background-color: #ECF4E8;
    color: #1C352D;
    transition: background-color 0.5s ease;
    border-radius: 10px;
    margin-top: 10px;
}

.description {
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 33.34%;

}

.btn-group {
    margin-top: 20px;
}

.a-link:hover {
    border-bottom: 1px solid #FBFBFB;
    transition: border-bottom 0.5s ease-in-out;
    margin-bottom: 30px;

}

.asistente {
    padding-top: 20px;
}

.tooltip-btn {
    background-color: white;
    color: #222831;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 0.9rem;

    white-space: nowrap;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    transform: translateX(10px);
    bottom: 0;
    top: 0;
    transition: opacity 0.3s ease;

}

.btn:hover .tooltip-btn {
    opacity: 1;
}



/* empieza el menu en modo PC de escritorio*/
.logo {
    display: flex;

}

.logo-oscuro {
    color: #2D3250;
}


.aparece-PC {
    display: flex;
}

.aparecer-responsive {
    display: none;
}

@media (max-width: 798px) {
    .logo {
        display: none;
    }

    .aparecer-responsive {
        display: block;
    }


    .desaparece-dispositivo {
        display: none;
    }

    .nav-links-responsive-aparece {
        display: flex;
        text-align: center;
        flex-direction: column;


    }

    .nav-links-responsive-aparece li {

        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;

    }

    .nav-links-responsive-aparece .li-responsive:hover {
        transition: all 1s;
        padding-left: 50px;
        font-weight: bold;
        border-radius: 10px;

    }

    .link-responsives {
        text-decoration: none;
    }


    .switch {
        margin: 0 auto;
    }

    .logo-desaparecer {
        display: flex;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .logo-desaparecer .a {
        text-decoration: none;
    }





}

.foto-inicio {
    width: 400px;
    height: auto;


}