.menu-container {
    position: relative;

    
     background-color: #222831;
     padding-bottom: 70px;
    

}

.menu-toggle {
    display: none;

}

.menu-button {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;

}

/* Menú base */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    
}

.menu li a {
    color:  #f6f6f6;
    text-decoration: none;
    padding: 0.5rem;
  

}









/* Versión móvil */
@media (max-width: 798px) {

    .menu-button {
        display: flex;
        justify-content: end;
        color: #f6f6f6;
        padding-top: 15px;
        padding-bottom: 2px;


    }


    .menu {
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
     

    }

    .menu-toggle:checked+.menu-button+.menu {
        max-height:1200px;
        /* Ajustar según número de links */


    }

    .logo-responsive {
        position: absolute;
        padding-bottom: 10px;
        padding-top: 10px;
        display: flex;

    }

    .a-logo {
        text-decoration: none;
        font-size: 1.5em;
        color: black;
    }

    .switch-responsive {
        display: flex;
     
        position: relative;
        padding-top: 14px;
        padding-right: 3px;


    }

    .menu li {
        text-align: center;
        justify-content: center;
        align-items: center;
       
       

    }

    .menu li .a-link-navbar-responsive:hover {
        transition: all 1s;

    }

    .dropdown-menu {
        padding-left: -10px;
        padding-right: 30px;
    }

    .dropdown-item {

        margin-right: 5px;

    }

    .btn {
        margin-top: -2px;
        margin-left: -10px;
        margin-bottom: -25px;
    }

    .tooltip-btn {
   
  
        margin-top: -10px;
     
        padding-top:-5px;
       
    }
    .svg-logo{
        margin-top: 12px;
    }




}

.etiqueta-codigo{
    color: #043915;
}


.wave-navbar-phone {
    position: absolute;
    top:  90px;
    width: 100%;
    height: 100px;


}

.wave-navbar-phone svg {
    display: block;
    width: 100%;
    height: 100%;
  
    

}

.color-logo{
    color: #f6f6f6;
}