.container-inicio {
    max-width: 1800px;
    margin: 0 auto;
}

.container-presentacion-inicio {
    position: relative;
}

.container-sector-mas-caracteristicas {
    max-width: 1800px;
    margin: 0 auto;
}

.texto-centrado {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-10%, -50%);
    font-size: 1.4em;
}

.img-presentacion-sitio {
    width: 100%;
    height: auto;
}

.btn-auto {

    margin-left: 540px;
    border: 1px solid #222831;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;

}

.btn-auto:hover {
    transition: all 1s ease-in-out;
    border-radius: 50px;
}

.link-ir-clientes {
    text-decoration: none;
    color: #222831;

}

.titulo-presentacionsitio {
    margin-left: 200px;
    margin-top: 100px;
    
}

.parrafo-presentacionsitio {
    margin-left: 250px;
   
}

/* Caracteristica de construcciones martinotti*/



.titulo-caracteristica {
    font-size: 1.3em;
    color: #043915;
}

.parrafo-caracteristicas {
    width: 510px;
    word-break: break-all;
    text-align: center;
    margin: 0 auto;

}

.container-card-caracteristica {
    display: flex;
    justify-content: space-around;
    margin-right: 300px;

}

.cards {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;

}


.parrafo-automatizado {
    width: 340px;
    text-align: center;

    margin: 0 auto;
    font-size: 0.6em;

}

.svg-container {

    padding: 15px;
    border-radius: 50px;


}

.container-precio-servicio {
    display: flex;
    justify-content: space-around;

}


.cuadro-precio {
    border: 1px solid black;
    width: 400px;
    height: 500px;
    border-radius: 10px;

}

.subtitulo-precios {
    font-size: 2em;
}

.container-switch-precio {
    display: flex;
    justify-content: center;

    margin-left: 10px;
    margin-right: 10px;

}


.precio-tamanio {
    font-size: 2em;
    font-weight: bold;
}

.subtitulo-preguntas-frecuentes {
    font-size: 2.3em;
}

.container-preguntas-frecuentes {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.container-preguntas-frecuentes__icons {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
}

.item-svg-image {
    flex: 50%;
    margin: 10px auto;
    border-radius: 50px;
    padding: 10px;

}

.item-info-svg {
    flex: 50%;
    margin-left: 10px;


}

.subtitulo-preguntas {
    width: 650px;

}

.parrafo-preguntas-frecuentes {
    width: 600px;
    word-break: break-all;
}

.subtitulo-mas-funcionalidades {
    font-size: 1.4em;
    margin-top: 150px;
    color: #043915;
}

.parrafo-mas-funcionalidades {
    width: 560px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;
    font-size: 0.8em;
}

.mas-funcionalidad-card {
    margin-bottom: 70px;
}

/*web animada con scroll dinamico*/
.animado {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animado.visible {
    opacity: 1;
    transform: translateY(0);
}

.zoom-animado {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.8s ease, transform 0.8s ease;
    will-change: transform, opacity;
}

.zoom-animado.visible {
    opacity: 1;
    transform: scale(1);
}


/* boton para redirigir hacia login*/
.btn-ir-login {
    margin-left: 130px;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 20px;
}

.btn-ir-login:hover {
    transition: all 1s ease-in-out;
    border-radius: 15px;

}

.subtitulo-funcionalidades {
    font-size: 0.7em;
    width: 270px;
    margin-top: 10px;
}

.subtitulo-caracteristicas {
    width: 300px;
}

/*web animada con scroll dinamico*/
.animado {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animado.visible {
    opacity: 1;
    transform: translateY(0);
}

.zoom-animado {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.8s ease, transform 0.8s ease;
    will-change: transform, opacity;
}

.zoom-animado.visible {
    opacity: 1;
    transform: scale(1);
}

/*servicios */
.cards-servicios {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.submenu-servicios {
    width: 340px;
    text-align: center;
    margin: 0 auto;
    font-size: 0.6em;
}


/*brand carousel*/
.carousel-container-brand {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    padding-top: 50px;

}

.carousel-track {
    display: flex;
    gap: 40px;
    width: max-content;
    animation: scrollBrands 20s linear infinite;
}

.brand-logo {
    width: 200px;
    height: auto;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.brand-logo:hover {
    filter: grayscale(0%);
    transition: all 1s;
    border-radius: 20px;
}



@keyframes scrollBrands {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.desaparecer-pc {
    display: none;
}

/* sector de nosotros */
.container-nosotros-marca {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.item-flex-left-image-logo {
    flex: 50%;
}

.item-flex-right-informacion-empresa {
    flex: 50%;
    margin: 0 auto;
}

.container-photo {
    position: relative;
    width: 50%;
}

.container-photo:hover .overlay {
  bottom: 0;
  height: 100%;
}


.overlay {
    position: absolute;
    bottom: 100%;
    left:150px;
    right: 0;
    background-color: #2D3250;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.text {
    color: #F5F5F5;
    font-size: 1.2em;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.img{
    margin-left: 150px;
    width: 100%;
    height: auto;
    
}

/* sector de contactar*/
.container-contactar{
      display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.item-left-contactar{
    flex: 50%;
}

.item-right-contactar{
    flex: 50%;
}



/*responsive design 768 -- Smartphones */
@media (max-width: 767px) {

    /*estilos para contenedores*/
    .container-precio-servicio {
        display: flex;
        flex-direction: column;
    }

    .desaparecer-phone {
        display: none;
    }

    .aparecer-phone {
        display: block;
    }

    .container-card-caracteristica {
        display: flex;
        flex-direction: column;

    }

    /* estilos para hijos de los contenedores*/
    .cuadro-precio {
        margin: 20px auto;
        width: 100%;
    }

    .lista-submenu-servicios {
        text-align: center;

    }

    .lista-submenu-servicios li {
        padding-bottom: 10px;
    }




    .parrafo-automatizado {
        width: 350px;
        word-break: break-all;


    }

    .container-preguntas-frecuentes__icons {
        flex-direction: column;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .container-preguntas-frecuentes {
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    .item-svg-image {
        width: 100%;
        border-radius: 10px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .svg-responsive {
        margin: 0 auto;

    }

    .parrafo-caracteristicas {
        width: 300px;
        word-break: break-all;
        text-align: center;
        margin: 0 auto;
    }

    .parrafo-mas-funcionalidades {
        width: 350px;
    }

    .item-info-svg {
        margin-top: 40px;
        text-align: center;
        margin-left: 50px;
        margin-bottom: 40px;
    }

    .subtitulo-preguntas {
        width: 100%;
    }

    .parrafo-preguntas-frecuentes {
        width: 100%;
    }

    .parrafo-presentacion-phone {
        font-size: 1.3em;
    }

    .svg-image {
        margin-left: 110px;
    }
    
    .container-nosotros-marca{
        flex-direction: column;
    }

    .img{
        width: 100%;
        height: auto;
        margin-left: 120px;
        
        
    }
    .text{
        font-size: 0.7em;
    }

    .overlay {
        margin-left: -30px;
    }



}
